/*Base*/
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.banner__title {
  font-size: 2.5em;
}

button {
  font-weight: 600;
}

/*Abstrac*/
.banner .banner__column, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__list, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Components*/
.banner__button {
  min-width: 10vw;
  padding: 0.7vw;
  border: none;
}

/*Layout*/
.nav {
  background-color: aqua;
}
.nav .nav__list .nav__item {
  padding: 1em;
  list-style-type: none;
}
.nav .nav__list #nav-shopping-cart-img {
  width: 2em;
}

.collapse-submenu {
  display: none;
}

main {
  min-height: 80vh;
}

/*Page*/
.banner {
  padding: 5vh;
}
.banner .banner__column {
  width: 28vw;
}
.banner .banner__column .banner__item {
  padding: 1vw;
}
.banner .banner__column img {
  width: 20vw;
}
.banner .banner__column h2 {
  display: inline-block;
}

/*Themes*/
.footer, main {
  background-color: #F2F2F2;
}

.nav {
  background-color: #161616;
  color: #fff;
}
.nav a {
  list-style: none;
  color: #fff;
}

.banner {
  background-color: #fff;
}

.button-dark {
  background-color: #97250c;
  color: #fff;
}

.button-light {
  color: #97250c;
  background-color: #F2F2F2;
}