/*Base*/
* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 5vw;
}

* {
  font-family: "Merriweather Sans", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.banner__title {
  font-size: 2.5em;
}

button {
  font-weight: 600;
}

.orders__item--id,
.orders__item--date,
.orders__item--price {
  font-size: 1em;
  font-weight: 400;
}

.orders__list__titles .orders__item--id,
.orders__list__titles .orders__item--date,
.orders__list__titles .orders__item--price {
  font-size: 1.3em;
}

h2 {
  font-size: 2.2em;
}

.product__card h2 {
  font-size: 1.3em;
}

.final--price {
  font-size: 1.6em;
  font-weight: 600;
}

.detail__title {
  font-size: 2.5em;
}

.detail_rate {
  font-size: 1.8em;
}

@media (max-width: 991.98px) {
  .banner__title {
    font-size: 1.7em;
  }
  .cart__product--item h4 {
    font-size: 1.3em;
  }
}

/*Abstrac*/
main, .banner .banner__column, .login__form .form__container, .signup__form form, .signup__form .container__signin, .profile__container .user__container form,
.profile__container .edit__container form,
.profile__container .orders__container form, .detail__container .detail__wrapper .detail__wrapper--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.product__card, .footer, .login__form, .signup__form, .order__container, .detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__card .product__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__container, .wrapper .courses__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail__container .detail__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.nav, .nav .nav__list, .wrapper form, .form--payment .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__container .cart__product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*Components*/
.banner__button {
  min-width: 10vw;
  padding: 0.7vw;
  border: none;
}

.basic__button {
  border: none;
  min-width: 7vw;
  padding: 0.7vw;
}

#mail-btn {
  border-style: none;
}

#mail-btn svg {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media (max-width: 575.98px) {
  .banner__button {
    min-width: 25vw;
    padding: 2vw;
  }
  .basic__button {
    min-width: 25vw;
    padding: 2vw;
  }
}

.product__card {
  width: 16vw;
  border-radius: 0.3vw;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 10px 1px #1616161f;
          box-shadow: 2px 2px 10px 1px #1616161f;
}

.product__card img {
  width: 16vw;
}

.product__card .product__card__info {
  min-height: 22vh;
  padding: 0.5vw;
}

@media (max-width: 991.98px) {
  .product__card {
    width: 30vw;
    border-radius: 0.3vw;
  }
  .product__card img {
    width: 30vw;
  }
}

@media (max-width: 575.98px) {
  .product__card {
    width: 70vw;
    border-radius: 1vw;
  }
  .product__card img {
    width: 70vw;
  }
  .product__card .product__card__info {
    min-height: 22vh;
    padding: 2vw;
  }
  .product__card__info span,
  .product__card__info a {
    display: none;
  }
}

input[type="password"],
input[type="text"] {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  border: none;
  border-bottom: 2px solid #ac4832;
}

input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
  background-color: #a3a3a3;
}

.form__item {
  margin-bottom: 2vh;
}

.form__container {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.orders__list {
  border-collapse: collapse;
  width: 100%;
}

.orders__list tr td {
  border: 1px solid #ddd;
  padding: 0.5vh;
}

/*Layout*/
.footer {
  width: 100%;
  padding-top: 5vh;
}

.footer .divider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 95%;
  height: 1px;
}

.footer .footer__container .column {
  padding: 4vh;
}

.footer .footer__container .column ul {
  list-style: none;
}

.footer .footer__container .column h3 {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

@media (max-width: 575.98px) {
  #footer-login {
    display: none;
  }
}

.nav .nav__list .nav__item {
  padding: 1em;
  list-style-type: none;
}

.nav .nav__list #nav-shopping-cart-img {
  width: 2em;
}

.nav .nav__list #nav-category {
  padding-left: 5em;
  padding-right: 5em;
}

#navName {
  margin-left: 0.5vw;
}

.collapse-submenu {
  display: none;
  margin-top: 1.2vh;
  position: absolute;
  z-index: 10;
}

.collapse-submenu ul {
  list-style: none;
}

.collapse-submenu p,
.collapse-submenu ul li {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

@media (max-width: 575.98px) {
  #navName, #Greeting, .collapse-submenu {
    display: none;
  }
  .nav__item {
    margin: 0px;
    padding: 0px;
  }
  #nav-category {
    display: none;
  }
}

main {
  min-height: 80vh;
}

/*Page*/
.banner {
  padding: 8vh;
}

.banner .banner__column {
  width: 28vw;
}

.banner .banner__column .banner__item {
  padding: 1vw;
}

.banner .banner__column img {
  width: 20vw;
}

.banner .banner__column h2 {
  display: inline-block;
}

.banner .banner__column .banner__button {
  margin-right: 2vw;
}

.landing__main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 4vh;
}

.landing__main__container h2 {
  padding-bottom: 2vh;
}

@media (max-width: 575.98px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3vh;
  }
  .banner .banner__column {
    width: 80vw;
  }
  .banner .banner__column img {
    width: 60vw;
  }
}

.login__form {
  margin-top: 2vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 53%;
}

.login__form .form__container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 2vh;
  width: 50%;
}

.login__form .form__container .form__item {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

@media (max-width: 575.98px) {
  .login__form {
    width: 85%;
  }
  .login__form .form__container {
    width: 80%;
  }
}

@media (max-width: 991.98px) {
  .login__form {
    width: 85%;
  }
  .login__form .form__container {
    width: 80%;
  }
}

.signup__form {
  margin-top: 2vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 53%;
}

.signup__form form {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 2vh;
  width: 50%;
}

.signup__form .container__signin {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  padding-bottom: 5vh;
}

@media (max-width: 991.98px) {
  .signup__form {
    width: 85%;
  }
  .signup__form form, .signup__form .container__signin {
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  .signup__form {
    width: 85%;
  }
  .signup__form form, .signup__form .container__signin {
    width: 80%;
  }
}

.container__products--and--filters {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.products__container {
  -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  padding: 1vw;
}

.wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2vh;
  width: auto;
  padding: 1vw;
  align-self: center;
  -webkit-box-shadow: 2px 2px 10px 1px #1616161f;
          box-shadow: 2px 2px 10px 1px #1616161f;
}

.wrapper .courses__filter select {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

@media (max-width: 575.98px) {
  .wrapper .courses__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .courses__form .courses__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .products__container {
    -ms-grid-row-align: center;
        align-self: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2vh;
    padding: 2vw;
  }
}

.profile__container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 53%;
}

.profile__container .user__container,
.profile__container .edit__container,
.profile__container .orders__container {
  padding: 4vh;
  margin-top: 2vh;
}

.profile__container .user__container form,
.profile__container .edit__container form,
.profile__container .orders__container form {
  width: 50%;
}

.order__information__header h2,
.order__information__header h3 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.price {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.order__container {
  margin-top: 2vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 53%;
  padding: 2vw;
}

.order__container h1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.order__container ul {
  margin-top: 1vh;
  margin-bottom: 1vh;
  list-style: none;
}

.order__container .cart__product {
  margin: 0.2vw;
  width: auto;
}

.order__container .cart__product .cart__product--item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.order__container .basic__button {
  margin-top: 1vh;
}

.price__container {
  width: 20%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.form--payment,
.pay__form__date,
.pay__form__date__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form--payment {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 53%;
}

.form--payment label,
.form--payment input,
.form--payment .icon-container {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.form--payment .icon-container {
  width: 53%;
}

.form--payment .icon-container i {
  font-size: 2em;
}

.order__cart h1 {
  margin-bottom: 2vh;
}

.order__cart span,
.order__cart h3 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.banner__order {
  min-height: 75vh;
}

@media (max-width: 575.98px) {
  .order__container {
    width: 90%;
  }
  .order__container .cart__product {
    margin-top: 2vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    padding: 1vh;
  }
  .order__container .cart__product a {
    display: none;
  }
  .order__container .cart__product .cart__product--item {
    width: 100%;
  }
  .order__container .cart__product .product--teacher {
    display: none;
  }
  .price__container {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .order__cart {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 4vh;
  }
  .order__cart .form--payment {
    width: 100%;
  }
  .order__cart .form--payment .icon-container {
    width: 90%;
  }
  .order__cart .form--payment .icon-container i {
    font-size: 3em;
  }
}

.detail__container {
  width: 53%;
  margin-top: 3vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 53%;
  padding: 8vh;
}

.detail__container .detail__title {
  padding-bottom: 4vh;
}

.detail__container .detail__block {
  padding-left: 5vh;
  padding-right: 8vh;
}

.detail__container .detail__wrapper {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.detail__container .detail__wrapper .detail__wrapper--text {
  padding-left: 1vw;
  width: 50%;
}

.detail__container .detail__wrapper .detail__wrapper--text .detail__subtitle, .detail__container .detail__wrapper .detail__wrapper--text .detail_rate {
  padding-bottom: 1.5vh;
}

.detail__container .detail__description {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.detail__container .detail__img {
  height: 25vh;
  width: 25vh;
}

/*Themes*/
.footer,
main {
  background-color: #dddddd;
}

.nav {
  background-color: #161616;
  color: #fff;
}

.nav a {
  list-style: none;
  color: #fff;
}

.nav a:hover {
  color: #dddddd;
}

.nav span {
  color: #fff;
}

span,
a,
p,
h1,
h2,
h3,
h4 {
  color: #161616;
}

a:hover {
  color: #8d2109;
}

a:hover span {
  color: #8d2109;
}

.banner {
  background-color: #fff;
}

.button-dark {
  background-color: #8d2109;
  color: #fff;
}

.button-dark {
  background-color: #8d2109;
  color: #fff;
}

input:disabled {
  background-color: #6d6d6d;
  color: #fff;
}

.button-dark:hover {
  background-color: #ac4832;
}

.button-light {
  color: #8d2109;
  background-color: #dddddd;
}

.button-light:hover {
  color: #fff;
  background-color: #8d8d8d;
}

.product__card {
  background-color: #fff;
}

.divider {
  background-color: #a3a3a3;
}

#mail-btn {
  background-color: #dddddd;
}

.collapse-submenu {
  background-color: #161616;
}

.wrapper {
  background-color: #fff;
}

.user__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#3f3f3f));
  background: linear-gradient(#222222 0%, #3f3f3f 100%);
}

.user__container h1,
.user__container h2 {
  color: #fff;
}

.orders__list__titles .orders__item--id,
.orders__list__titles .orders__item--date,
.orders__list__titles .orders__item--price {
  color: #fff;
}

.orders__list__titles {
  background-color: #8d2109;
}

.user__container,
.edit__container,
.orders__container,
.order__container,
.signup__form,
.detail__container {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */