.footer {
  width: 100%;
  padding-top: 5vh;
  @extend %Dflex-col-center;
  .divider {
    align-self: center;
    width: 95%;
    height: 1px;
  }
  .footer__container {
    @extend %Dflex-row-center;
    .column {
      padding: 4vh;
      ul {
        list-style: none;
      }
      h3 {
        padding: {
          top: 1.5vh;
          bottom: 1.5vh;
        }
      }
    }
  }
}
@media (max-width: 575.98px){
  #footer-login{
    display: none;
  }
}