.nav {
  @extend %Dflex-row-spbwt-center;
  background-color: aqua;
  .nav__list {
    @extend %Dflex-row-spbwt-center;
    .nav__item {
      padding: 1em;
      list-style-type: none;
    }

    #nav-shopping-cart-img {
      width: 2em;
    }
    #nav-category {
      padding: {
        left: 5em;
        right: 5em;
      }
    }
  }
}
#navName {
  margin-left: 0.5vw;
}
.collapse-submenu {
  display: none;
  margin-top: 1.2vh;
  position: absolute;
  z-index: 10;
  ul {
    list-style: none;
  }
  p,
  ul li {
    padding: {
      top: 0.5vw;
      bottom: 0.5vw;
    }
  }
}
