%Dflex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}
%Dflex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
%Dflex-col-center-sa {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  
}
%Dflex-row-center-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
%Dflex-row-spbwt-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
