$web-bg: #dddddd;
$web-bg2: #aaaaaa;
$nav__bg: #161616;
$profile__banner--bg1: #222222;
$profile__banner--bg2: #3f3f3f;
$divider: #a3a3a3;
$white: #fff;

$btn_dark: #8d2109;
$btn_dark_hover: #ac4832;
$btn_light_hover: #8d8d8d;
$btn_disabled: #6d6d6d;
