.banner__button {
  min-width: 10vw;
  padding: 0.7vw;
  border: none;
}
.basic__button {
  border: none;
  min-width: 7vw;
  padding: 0.7vw;
}
#mail-btn {
  border-style: none;
  svg {
    transform: translateY(3px);
  }
}
@media (max-width: 575.98px){
  .banner__button {
    min-width: 25vw;
    padding: 2vw;
  }
  .basic__button {
    min-width: 25vw;
    padding: 2vw;
  }
  
}
