.product__card{
    @extend %Dflex-col-center;
    width: 16vw;
    border-radius: 0.3vw;
    overflow: hidden;
    img{
        width: 16vw;
    }
    .product__card__info{
        @extend %Dflex-col-center-sa;
        min-height: 20vh;
        padding: 0.5vw;
    }
}