* {
  font-family: "Merriweather Sans", sans-serif;
}
a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.banner__title {
  font-size: 2.5em;
}
button {
  font-weight: 600;
}
.orders__item--id,
.orders__item--date,
.orders__item--price {
  font-size: 1em;
  font-weight: 400;
}
.orders__list__titles {
  .orders__item--id,
  .orders__item--date,
  .orders__item--price {
    font-size: 1.3em;
  }
}

h2 {
  font-size: 2.2em;
}

.product__card{
  h2{
    font-size: 1.3em;
  }
}
.final--price{
  font-size: 2em;
  font-weight: 600;
}