.order__container {
  margin-top: 2vh;
  align-self: center;
  @extend %Dflex-col-center;
  width: 53%;
  padding: 2vw;
  h1{
      margin-top: 1vh;
      margin-bottom: 1vh;
  }
  ul{
    margin-top: 1vh;
    margin-bottom: 1vh;
    list-style: none;
  }
  .cart__product{
    margin: 0.2vw;
    width: auto;
    @extend %DGrid-5;
    .cart__product--item{
      align-self: center;
    }
  }
  .basic__button{
    margin-top: 1vh;
  }
  .price__container{
    width: 20%;
    align-self: flex-end;  
  }
}
