.banner{
    @extend %Dflex-row-center-middle;
    padding: 8vh;
    .banner__column{
        width: 28vw;
        @extend %Dflex-col-start;
        .banner__item{
            padding: 1vw;
        }
        img{
            width: 20vw;
        }
        h2{
            display: inline-block;
        }
    }
}
.landing__main__container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    padding: 4vh;
    h2{
        padding-bottom: 2vh;
    }
}