.profile__container {
  align-self: center;
  width: 53%;
  .user__container,
  .edit__container,
  .orders__container {
    padding: 4vh;
    margin-top: 2vh;
    form {
      @extend %Dflex-col-start;
      width: 50%;
    }
  }
}
.order__information__header {
  h2,
  h3 {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
.price {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
