.footer,
main {
  background-color: $web-bg;
}
.nav {
  background-color: $nav__bg;
  color: $white;
  a {
    list-style: none;
    color: $white;
  }
  a:hover {
    color: $web-bg;
  }
  span {
    color: $white;
  }
}
span,
a,
p,
h1,
h2,
h3,
h4 {
  color: $nav__bg;
}
a:hover {
  color: $btn_dark;
  span {
    color: $btn_dark;
  }
}

.banner {
  background-color: $white;
}
.button-dark {
  background-color: $btn_dark;
  color: $white;
}
.button-dark {
  background-color: $btn_dark;
  color: $white;
}
input:disabled {
  background-color: $btn_disabled;
  color: $white;
}

.button-dark:hover {
  background-color: $btn_dark_hover;
}

.button-light {
  color: $btn_dark;
  background-color: $web-bg;
}

.button-light:hover {
  color: $white;
  background-color: $btn_light_hover;
}

.product__card {
  background-color: $white;
}

.divider {
  background-color: $divider;
}

#mail-btn {
  background-color: $web-bg;
}

.collapse-submenu {
  background-color: $nav__bg;
}

.wrapper {
  background-color: $white;
}
.user__container {
  background: linear-gradient(
    $profile__banner--bg1 0%,
    $profile__banner--bg2 100%
  );
  h1,
  h2 {
    color: $white;
  }
}
.orders__list__titles {
  .orders__item--id,
  .orders__item--date,
  .orders__item--price {
    color: $white;
  }
}
.orders__list__titles {
  background-color: $btn_dark;
}

.user__container,
.edit__container,
.orders__container,
.order__container,
.signup__form {
  background-color: $white;
}